$ui-c-brand: #7397F5;
$ui-c-disabled: #AAAAAA;
$ui-c-placeholder: #5A5A5A;
$ui-c-text: #333333;
$ui-c-text-hovered: #125BAE;
$ui-c-card-bg: #F8F8FA;
$ui-c-block-hover: #E2EFFF;
$ui-c-border: #F2F2F2;
$ui-c-border-dark: #D5D5D5;

$ui-rounded-sm: 4px;
$ui-rounded: 10px;

$ui-font-header: Inter, sans-serif;
$ui-font-content: PTSans, sans-serif;

$b-phone: 375;
$b-xs: 450;
$b-sm: 576;
$b-tablet: 768;
$b-md: 992;
$b-desktop: 1200;
$b-lg: 1400;
$b-xl: 1600;
$b-2xl: 1850;

$ui-transition-time-fast: 0.3s;
$ui-transition-time-medium: 0.4s;
$ui-transition-time-slow: 0.6s;
